<html>
	<head>
		<title>메뉴화면</title>
	</head>
	<body>
		<center>
			<div style="font-size: 5em; font-weight: bold;">
			Dogyu's Server
			</div>
			<br><br>
		</center>

	</body>
	<body>
		<center>
			<br>
			<a href="/upload"><button>파일 업로드</button></a><br><br><br>
			<a href="/download"><button>파일 다운로드</button></a><br><br><br>
			<a href="/delete"><button>파일 삭제</button></a><br><br><br>
			<a href="/message_send"><button>메세지 보내기</button></a><br><br><br>
			<a href="/message_receive"><button>메세지 받기</button></a>	<br><br><br>
			<a href="/weather"><button>서울 날씨정보</button></a>	
		</center>
		
	</body>
</html>


<!-- html input 인자 설명
https://developer.mozilla.org/ko/docs/Web/HTML/Element/Input  -->