<html>
	<head>
		<title>서울특별시 기온</title>

		<script type='text/javascript'>
			function check(){
				var sel = document.getElementById('Time')
				// var val = sel.options[sel.selectedIndex].value;
				var user_date = '/' + sel.options[sel.selectedIndex].text;
				document.getElementById('user_date').innerHTML=user_date
			}
			function out(){
				var sel = document.getElementById('Time')
				var user_date = '/' + sel.options[sel.selectedIndex].text;
				return user_date
			}
			function handleOnChange(e) {
				// 선택된 데이터의 텍스트값 가져오기
				const text = e.options[e.selectedIndex].text;
				console.log(e.options);
				// 선택한 텍스트 출력
				document.getElementById('date').innerText
					= text;
				return console.log(e.options)
			}

		</script>
		
	</head>
	<body>
		
		<a href="/">홈</a><br>
		기준시간: {{date}}<br>
		<a href="" onclick=" location.href = '/weather'+ out(this.value); return false;"><button>확인</button></a>
		<form action = '' method='post'>
			
			<select name = "Time" id = 'Time' onchange='check(this.value)'>
				<option value = "" selected>-- 선택 --</option>
				{% for n in range(0,(count-1)) %}
				<option value = "" >{{time[n]['date']}}</option>
				{% endfor %} &nbsp;

			</select> 
			
		</form>

		
	</body>

	<body>
		<div style='position: relative'>
			<img height="800px" width="1200px" src="{{ url_for('static', filename='./map.jpg') }}"/><br>
			<!-- 강남구 -->
			<div style="left: 767px; bottom:205px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[0]['tmp']}}도
			</div>
			<!-- 강동구 -->
			<div style="left: 1005px; bottom:343px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[1]['tmp']}}도
			</div>
			<!-- 강북구 -->
			<div style="left: 670px; bottom:580px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[2]['tmp']}}도
			</div>
			<!-- 강서구 -->
			<div style="left: 160px; bottom:375px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[3]['tmp']}}도
			</div>
			<!-- 관악구 -->
			<div style="left: 495px; bottom:113px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[4]['tmp']}}도
			</div>
			<!-- 광진구 -->
			<div style="left: 865px; bottom:322px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[5]['tmp']}}도
			</div>
			<!-- 구로구 -->
			<div style="left: 225px; bottom:185px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[6]['tmp']}}도
			</div>
			<!-- 금천구 -->
			<div style="left: 365px; bottom:130px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[7]['tmp']}}도
			</div>
			<!-- 노원구 -->
			<div style="left: 840px; bottom:605px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[8]['tmp']}}도
			</div>
			<!-- 도봉구 -->
			<div style="left: 730px; bottom:643px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[9]['tmp']}}도
			</div>
			<!-- 동대문구 -->
			<div style="left: 775px; bottom:423px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[10]['tmp']}}도
			</div>
			<!-- 동작구 -->
			<div style="left: 490px; bottom:215px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[11]['tmp']}}도
			</div>
			<!-- 마포구 -->
			<div style="left: 400px; bottom:367px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[12]['tmp']}}도
			</div>
			<!-- 서대문구 -->
			<div style="left: 460px; bottom:410px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[13]['tmp']}}도
			</div>
			<!-- 서초구 -->
			<div style="left: 655px; bottom:170px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[14]['tmp']}}도
			</div>
			<!-- 성동구 -->
			<div style="left: 745px; bottom:345px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[15]['tmp']}}도
			</div>
			<!-- 성북구 -->
			<div style="left: 680px; bottom:483px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[16]['tmp']}}도
			</div>
			<!-- 송파구 -->
			<div style="left: 920px; bottom:230px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[17]['tmp']}}도
			</div>
			<!-- 양천구 -->
			<div style="left: 255px; bottom:255px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[18]['tmp']}}도
			</div>
			<!-- 영등포구 -->
			<div style="left: 395px; bottom:265px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[19]['tmp']}}도
			</div>
			<!-- 용산구 -->
			<div style="left: 580px; bottom:287px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[20]['tmp']}}도
			</div>
			<!-- 은평구 -->
			<div style="left: 445px; bottom:540px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[21]['tmp']}}도
			</div>
			<!-- 종로구 -->
			<div style="left: 585px; bottom:430px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[22]['tmp']}}도
			</div>
			<!-- 중구 -->
			<div style="left: 625px; bottom:365px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[23]['tmp']}}도
			</div>
			<!-- 중랑구 -->
			<div style="left: 885px; bottom:463px; width: 450px;  font-size: 1em; font-weight: bold; position: absolute;">
				{{data[24]['tmp']}}도
			</div>			
		</div>
			
	</body>
	<body>
		<!-- {% for n in range(0,24) %}
		{{data[n]['tmp']}}<br>
		데이터 : {{data[n].values()}}<br>
		{% endfor %} -->
	</body>
</html>